// Colors
// `$black` is automatically set to #000 for e-ink readers
$white: #fff !default;
$grey-0: #eee !default;
$grey-1: #696969 !default;
$black: #222 !default;

// General text Layout
// If new paragraphs should be indented, and if so, by how much. The text indent size
// can be set to a simple relative unit (not calculated based on font size) because
// it's only applied to paragraph elements, so will remain consistent throughout
// the document
$text-indent: true !default;

// Must be hard-coded since mixins aren't available here. Can be overridden in
// project files
$text-indent-size: 2em !default;

// If paragraphs and header elements should have a margin bottom. Margin bottom size
// is calculated automatically to retain vertial rhythm
$vertical-space: false !default;

// Vertical rhythm settings
$font-size-base: 1em !default;
$line-height-base: 1.3 !default;

// Fonts
// Some fonts are remotely hosted for the reader so that they don't have to be
// bundled in projects. Update the value here in case that changes. See _fonts.scss
// for details about how this variable is used in the mixins
$remote-font-base-url: 'https://b-ber-fonts.s3.amazonaws.com/' !default;

$font-crimson: 'Crimson', Georgia, Times, serif;
$font-free-universal: 'FreeUniversal', Futura, 'Trebuchet MS', Arial, sans-serif;
$font-glyphs: 'TCGlyphs';

$font-sans: Helvetica, Arial, sans-serif !default;
$font-serif: 'Iowan Old Style', Georgia, Times, serif !default;
$font-mono: Menlo, Osaka, Monaco, monospace !default;

// Reader font is set in _reader.scss
$font-family-base: $font-serif !default;

@if $build == 'reader' {
  $font-family-base: $font-crimson;
}

// Reader UI elements
$reader-header-height: 0;
$reader-footer-height: 0;

// Values for the `fullbleed-vimeo-titlepage` mixin
// Titlepage color scheme.
$titlepage-background-color: $black !default;
$titlepage-text-color: $white !default;

// Height of spread-contents used for vertical alignment in pixels
$spread-height: 600px !default;

$titlepage-text-aligment: left !default;
