// Declare namespaces
@namespace url('http://www.w3.org/1999/xhtml');
@namespace epub url('http://www.idpf.org/2007/ops');

// Load vendor libs
// https://github.com/modularscale/modularscale-sass
@import '~modularscale-sass/stylesheets/_modularscale';

// For validation while building on CLI, not used in production
$build: 'epub' !default;

@import 'settings';
@import '~@canopycanopycanopy/b-ber-theme-mixins/application';

// for validation while building on CLI, not an actual setting
$build: 'epub' !default;

// Initialize Modular Scale
//
// @demo http://www.modularscale.com/
// @repo https://github.com/modularscale/modularscale-sass
$modularscale: (
  base: $font-size-base,
  ratio: $minor-second,
);

@import 'typography';
@import 'layout';

// Set `$grey-0` in case of e-ink readers
@if $build == 'mobi' {
  $grey-0: $black;
}
