// Mixin to generate font-face rules using remote assets (stored on S3). Called
// below in reader scope (`$build == 'reader') since it's not necessary for
// other builds.

@function remote-font($name) {
  @return $remote-font-base-url + $name;
}

@mixin remote-font-face(
  $font-name,
  $file-name,
  $formats: ('ttf', 'otf'),
  $weight: 400,
  $style: normal
) {
  $filepath: remote-font($file-name);
  @font-face {
    font-family: '#{$font-name}';
    @each $format in $formats {
      src: url($filepath+'.'+$format);
    }
    font: {
      weight: $weight;
      style: $style;
    }
  }
}

@if $build == 'web' {
  @import url('//fonts.googleapis.com/css?family=Material+Icons');
}

@if $build == 'reader' {
  // Crimson is added with CSS @font-face rules for clarity since it's loading
  // multiple fonts files and weights to account for variable font
  @font-face {
    font-family: 'Crimson';

    // Load both the variable and static font files
    src: url(remote-font('CrimsonPro-VariableFont_wght.ttf')),
      url(remote-font('CrimsonPro-Regular.ttf'));

    // Set a range for font-weight since 450/900 values may not be supported in
    // modern browsers (e.g. Safari and FireFox on macOS < 10.13)
    font-weight: 400 450;
    font-style: normal;
  }

  @font-face {
    font-family: 'Crimson';
    src: url(remote-font('CrimsonPro-VariableFont_wght.ttf')),
      url(remote-font('CrimsonPro-Bold.ttf'));
    font-weight: 700 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Crimson';
    src: url(remote-font('CrimsonPro-Italic-VariableFont_wght.ttf')),
      url(remote-font('CrimsonPro-Italic.ttf'));
    font-weight: 400 450;
    font-style: italic;
  }

  @font-face {
    font-family: 'Crimson';
    src: url(remote-font('CrimsonPro-Italic-VariableFont_wght.ttf')),
      url(remote-font('CrimsonPro-BoldItalic.ttf'));
    font-weight: 700 900;
    font-style: italic;
  }

  @include remote-font-face(
    'FreeUniversal',
    'freeuniversal-regular-webfont',
    ('ttf', 'eot', 'woff'),
    400,
    normal
  );

  @include remote-font-face(
    'FreeUniversal',
    'freeuniversal-bold-webfont',
    ('ttf', 'eot', 'woff'),
    700,
    normal
  );

  @include remote-font-face(
    'FreeUniversal',
    'freeuniversal-italic-webfont',
    ('ttf', 'eot', 'woff'),
    400,
    italic
  );

  @include remote-font-face(
    'TCGlyphs',
    'tcglyphs-regular-webfont',
    ('eot', 'svg', 'ttf', 'woff', 'woff2')
  );
}

.icon-font {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  // direction: ltr; // Breaks epub validation
  font-feature-settings: 'liga';
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
}
